{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block nav %}{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-xs-11 col-offset-md-1">
        {# ----- titre page ------ #}
        <div class="row mb-5">
            <div class="col text-center">
                <h1>Mot de passe oublié</h1>
            </div>
        </div>

        <form method="post">
        <div class="col mb-5">
            {# ------ email ------ #}
            <div class="form-group row">
                <label for="inputEmail" class="col-5 col-form-label">Saisir votre adresse email :</label>
                <div class="col-7">
                    <input type="email" class="form-control" name="mail" id="inputEmail" placeholder="saisir votre email" value="tlargeau@campus-eni.fr" autofocus>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="form-group row">
                        <div class="col-5 mb-3">
                            {# -------- bouton Envoyer --------- #}
                            <div class="form-group row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
        {#
        <form action="#" method="post" class="col">
        <div class="form-group">
            <label>Saisir l'adresse mail:</label>
            <input type="email" name="mail" placeholder="Saisir votre email" value="tlargeau@campus-eni.fr" class="form-control"/>
            <input type="submit" value="Envoyer" class="btn btn-primary mt-2"/>
        </div>
        </form>
        #}
    </div>
</div>
{% endblock %}
