{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Mon profil : changement de mot de passe</h1>

    <button type="submit" name="btnEnregistrer" class="btn btn-primary text-center">Enregistrer</button>
{% endblock %}